<div class="row">
    <div class="col-md-6 col-xl-3">
        {include card.latte, data: $total, description: "Celkem"}
    </div>
    <div class="col-md-6 col-xl-3">
        {include card.latte, data: $year, description: "Tento rok"}
    </div>
    <div class="col-md-6 col-xl-3">
        {include card.latte, data: $month, description: "Tento měsíc"}
    </div>
    <div class="col-md-6 col-xl-3">
        {include card.latte, data: $week, description: "Posledních 7 dní"}
    </div>
</div>